@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Inconsolata:wght@200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata';
  font-weight: 400;
  background: hsl(248, 70%, 10%);
  color: white;
}

main {
  padding: 30px 0px;
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.text {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 47%;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.input {
  height: 40px;
  border-radius: 5px;
  padding: 5px 8px;
  border: 1px solid hsl(252, 6%, 83%);
  background: transparent;
  color: white;
  font-family: "Inconsolata";
  font-weight: 400;
  font-size: 18px;
}

.btn {
  background: hsl(7, 88%, 67%);
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Inconsolata";
  font-weight: 600;
  color: hsl(248, 70%, 10%);
  border: none;
  height: 40px;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.red-text {
  color: hsl(7, 71%, 60%);
}

.text-gradient {
  background: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%) );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.ticket-photo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.ticket {
  width: 100%;
  overflow: hidden;
  padding: 25px;
  background: #211d47;
  position: relative;
  border-radius: 15px;
  /* clip-path: path('M 0,0 L 400,0 A 10,10 0,0,0 430,0 L 500,0 L 500,196 L 430,196 A 10,10 0,0,0 400,196 L 0,196 L 0,0 Z'); */
  /* clip-path: path('M 0,0 L 440,0 L 460,30 L 480,0 L 500,0 L 500,196 L 480,196 L 460,166 L 440,196 L 0,196, 0,0 Z'); */
}

.ticket-container {
   
  background: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%) );
  width: 500px;
  height: 100%;
  border-radius: 15px;
  /* clip-path: path('M 0,0 L 402,0 A 10,10 0,0,0 430,0 L 502,0 L 502,198 L 430,198 A 10,10 0,0,0 402,198 L 0,198 L 0,0 Z'); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 1px;
}
.ticket::after {
  content: '';
  background-image: repeating-linear-gradient(
    0deg,               
    transparent,               
    transparent 10px,         
    white 4px,         
    white 25px          
  );
  position: absolute;
  width: 2px;
  height: 109%;
  top: 0px;
  right: 84px;
  
}



input::placeholder {
  color: rgba(255, 255, 255, 0.8); 
  opacity: 1; 
}


input:-webkit-input-placeholder { 
  color: rgba(255, 255, 255, 0.8);
}

input::-webkit-input-placeholder { 
  color: rgba(255, 255, 255, 0.8);
}

input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

input::-moz-placeholder { 
  color: rgba(255, 255, 255, 0.8);
}

input:-ms-input-placeholder { 
  color: rgba(255, 255, 255, 0.8);
}

.input-file-box {
  border-radius: 5px;
  border: 1px dashed hsl(252, 6%, 83%);
  min-height: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-file {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  
}

.input-file-icon-box {
  background: #303056;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.main-input-file-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-file-box-text {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-file-box-text::before {
  content: '';
  background: url('assets/icon-info.svg') center/cover no-repeat;
  display: block;
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.ticket-data {
  font-size: 12px;
  padding-left: 47px;
}

.ticket-top {
  margin-bottom: 40px;
}

.ticket-bottom {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.ticket-name {
  font-size: 25px;
  margin-bottom: 5px;
  word-break: break-all;
}

.ticket-username {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-all;
}

.ticket-username::before {
  content: '';
  background: url('assets/icon-github.svg') center/cover no-repeat;
  width: 17px;
  height: 17px;
  display: block;
  margin-right: 5px;
  flex-shrink: 0;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

}

.modal-box {
  background: hsl(7, 88%, 67%);
  border-radius: 15px;
  padding: 20px;
  position: relative;
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-btn {
  border: none;
  background: transparent;
  font-size: 28px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal-text {
  font-size: 25px;
}

.ticket-id {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(90deg);
  font-size: 20px;
}

.ticket-desc {
  max-width: 290px;
}

@media(max-width: 991px) {
  .form {
    width: 100%;
  }
}

@media(max-width: 767px) {
  h1 br {
    display: none;
  }
}

@media(max-width: 575px) {
  main {
    max-width: 90%;
  }
  .input-file-box-text {
    font-size: 10px;
  }
  h1 {
    font-size: 30px;
  }
  .ticket-container {
    width: 100%;
  }
  .ticket {
    width: 99%;
    padding: 15px;
  }
  .ticket-logo {
    width: 100px;
  }
  .ticket-data {
    font-size: 10px;
    padding-left: 24px;
}
  .ticket-photo {
    width: 50px;
    height: 50px;
}
  .ticket-id {
    font-size: 14px;
    right: 8px;
  }
  .ticket-username {
    font-size: 14px;
  }
  .ticket-name {
    font-size: 20px;
  }
  .ticket::after {
    right: 55px;
  }
  .text br {
    display: none;
  }
  
}

@media(max-width: 390px) {
  .ticket-desc {
    max-width: 125px;
  }
}